body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

img {
    width: 150px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

p {
    line-height: 1.6; /* Ajusta el interlineado del texto según sea necesario */
}
